.menu li{
    margin: auto 10px;
    padding: 10px;
    display: block;
   
}
/*from professor kostin*/
.menu ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.menu a{
    border: 2px solid #75ACE4;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    background-color: #FFFF00;
}
.menu a:hover{
    color: #000080;
}
.menu a.is-current{
    background-color: #192bb5;

}